@import url('https://fonts.googleapis.com/css?family=Wallpoet');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 30px;
	background: rgb(15, 15, 15);
	color: rgb(134, 254, 25);
	text-shadow: 0 0 rgba(134, 254, 25, 0.5);
	font-family: 'Wallpoet', cursive;
	text-align: center;
}

.compass {
	position: relative;
	width: 310px;
	height: 310px;
	margin: 20px auto;
	background: #222;
	padding: 20px;
	border-radius: 40px;
	border: 5px solid #444;
	overflow: hidden;
}

.compass .disc {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 200;
	background: url('https://cdn.onlinewebfonts.com/svg/img_475196.png');
	width: 260px;
	height: 260px;
	background-size: 100%;
}

.compass .arrow {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1000;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAVFBMVEX///8AAAD29vbq6urY2NiSkpLFxcV1dXVXV1epqak5OTmsrKyPj49xcXE6OjoLCwsWFhZbW1t5eXkbGxtSUlI0NDQUFBTz8/OZmZm6urrf398pKSneCLDlAAACHUlEQVR4nO3caVICQRBEYRbZBAQVcbv/PaXnDhXlvHzfCap/EBlZPc1iIUmSJEmSJHXafHZPUOxreV93z1Dqe/nw1D1FpdVtHHHbPUap3TjioXuKUqdxxE33FKWO44jn7ilKbccR991TlHoaR/xYdY9RaX1/HJEdjKtnfDAu9vxgPPODcTOOeOqeotRhHHHXPUWpKRhv3VOUmoLxhR+MF4Nx5lIa47F7ilI2RgIbI8H68jji1WCcORsjwYYfjDZGgoTGeB1nZAfjh8EIkNIY2avUY0gw2hhnbr3kN8YXfjCmrFJtjDN3cJUKMAXjMzsYr/w7RhsjwZnfGAM+vklpjAGrVHgwXvhfpdoYCVJWqV/dU5RKuWN87Z6iVMId452/SrUxEqQ0xoBV6lv3FKVSVqkBwfjODsaAr1JtjAQBjTFllRrQGOGrVIORwMZIYGMksDES+M83CDZGgpQH/jbGmUt4rnGxMQLYGAlsjAQ2RoKY5xo/3WOUCghGGyOBjZEg4Y5xyW+MPtcgCAhGGyOBjZFgaozwO0YbI4GrVIJjSDAGNEZ4MAbcMdoYCQIaY8BzDR/4EyQEow/8CWyMBAGN0VUqQUowwhtjwFepNkaCgMboxzcECR/fGIwENkYCGyOBjZHAB/4INkYCn2sQpDRGH/jPXEIw2hgJbIwENkYCH/gjTMHYPUStHf6Ej8b42z1CtQP7dyhJkiRJkqR/5A8X7hMw4N9DBgAAAABJRU5ErkJggg==');
	width: 260px;
	height: 260px;
	background-size: 100%;
}
